{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}"/>
{% endblock css %}
{% block content %}

<form class="wrap" method="POST" action="{% url "users:signup" %}">
    {% csrf_token %}
    <div class="login">
            <h3>Signup</h3>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span>{{error}}</span>
                {% endfor %}
            {% endif %}

            {% for field in form %}
                <div class="login_id {% if field.errors %}has_error{% endif %}">
                    {{field}}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
          <div class="submit">
            <button type="submit" type="input">signup</button>
            </div>
    </div>
</form>

{% endblock content %}